!!! 5
%html{:lang => 'en'}
  %head
    %title Killer Sudoku Calculator
    %link{
      rel: 'stylesheet',
      href: 'https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css',
      integrity: 'sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T',
      crossorigin: 'anonymous'
    }
    %link{
      rel: 'stylesheet',
      type: 'text/css',
      href: 'style.css'
    }
  %body
    %h1 Killer Sudoku Calculator
    .form-holder
      .form-items
        %form
          %div.inputs
            %div.input
              %label{for: 'total_sum'} Total Sum:
              %div.sep
              %input.num-1#total_sum{type: 'text', pattern: '\\d*', maxlength: 2}/
            %div.input
              %label{for: 'cages'} Number of Cages:
              %div.sep
              %input.num-1#cages{type: 'text', pattern: '\\d*', maxlength: 2}/
            %div.input
              %label{for: 'required'} Required values:
              %div.sep
              %input.num-9#required{type: 'text', pattern: '\\d*', maxlength: 9, placeholder: '123456789'}/
            %div.input
              %label{for: 'forbidden'} Forbidden values:
              %div.sep
              %input.num-9#forbidden{type: 'text', pattern: '\\d*', maxlength: 9, placeholder: '123456789'}/
            %div.input
              %div.sep
              %button.mt-3.btn.btn-primary{type: 'button'} Show Results
              %div.sep
    %script{
      'src': 'index.js'
    }
