body
    background-color: black
    min-height: 100vh

    display: grid
    align-items: center
    justify-items: center

h1
    color: white
    grid-area: 1 / 1 / 1 / 1
    align-self: flex-start

.form-holder
    grid-area: 1 / 1 / 1 / 1

.form-items
    border: 3px solid white
    padding: 40px
    display: inline-block
    width: 100%
    border-radius: 10px

input
    text-align: center

label
    color: white
    display: inline-block

.inputs
    display: flex
    flex-direction: column

.input
    display: flex
    justify-content: space-between

.num-1, .sep
    width: 2em

.num-9
    width: 6em